@mixin btn-bg-box {
  width: 30rem;
  height: 8rem;
}

@mixin input-bg {
  width: 70.4rem;
  height: 6.8rem;
}

@mixin input-sm {
  width: 38.6rem;
  height: 6.8rem;
}

@mixin txt-bg {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 10rem;
  line-height: 128.9%;
}

@mixin txt-mid {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 6.1rem;
}

@mixin txt-sm {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;

}

@mixin copyRightTxt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
}

@mixin bgFormatSm {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
}

@mixin bgFormat {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
}

/*
Media Query Manager

Breakpoints :             Screens                                 : nickname

0-425 px    :               phone                                    : phone
425-770 px  :         tablet-portrait                           : tab-port
770-1024 px : laptop small or tablet landscape     : tab-land
1024-1440 px:          Any HD screen                       : HD-screen
1440-2560 px :            4k-screen                             : 4k-screen

1em = 16px
*/

@mixin respond($breakpoint) {


  //phone breakpoint
  @if $breakpoint==phone {
    @media (min-width: 26.56em) {
      @content;
    }
  }

  //tab-port breakpoint
  @if $breakpoint==tab-port {
    @media (min-width: 48.125em) {
      @content;
    }
  }

  //tab-land breakpoint
  @if $breakpoint==tab-land {
    @media (min-width: 64em) {
      @content;
    }
  }

  //tab-land breakpoint
  @if $breakpoint==HD-screen {
    @media (min-width: 90em) {
      @content;
    }
  }

  //big screen breakpoint
  @if $breakpoint==fourK-screen {
    @media (min-width: 160em) {
      @content;
    }
  }
}