/*
Media Query Manager

Breakpoints :             Screens                                 : nickname

0-425 px    :               phone                                    : phone
425-770 px  :         tablet-portrait                           : tab-port
770-1024 px : laptop small or tablet landscape     : tab-land
1024-1440 px:          Any HD screen                       : HD-screen
1440-2560 px :            4k-screen                             : 4k-screen

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  background-color: #000; }

.container {
  position: absolute;
  left: 40.4rem;
  top: 0.3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: right; }
  .container__heading {
    width: 77.6rem;
    height: 35.5rem; }
  .container__form {
    width: 77.6rem;
    min-height: 30rem; }

.Cform {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .Cform__firstName {
    margin-top: 1.8rem; }
  .Cform__lastName {
    margin-top: 1.8rem; }
  .Cform__email {
    margin-top: 1.8rem; }

.btn-primary {
  margin-top: 1rem;
  background: #6D7F8E;
  color: #ffff;
  border-radius: 2.2rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 6.1rem;
  width: 30rem;
  height: 8rem; }

label {
  display: none; }

input {
  width: 70.4rem;
  height: 6.8rem;
  border: none;
  border-bottom: 5px solid #ffff;
  background-color: transparent;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 4rem;
  line-height: 6.1rem;
  color: #6D7F8E; }
  input:focus {
    outline: none;
    color: #ffff;
    background-color: transparent;
    border-bottom: 5px solid green; }
  input:focus:invalid {
    border-bottom: 5px solid red; }

.txt-bg {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 300;
  font-size: 10rem;
  line-height: 128.9%;
  letter-spacing: 0.04em;
  color: #6D7F8E; }

.txt-bg-sm {
  position: absolute;
  width: 80.5rem;
  height: 7.8rem;
  left: -1.8rem;
  top: 30.3rem;
  font-size: 3rem;
  line-height: 3.8rem;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-decoration-line: underline;
  color: #6D7F8E;
  transform: rotate(-90deg);
  /*
    
    @include respond(phone) {
        position: absolute;
        width: 42.5rem;
        height: 9.6rem;
        left: -26.6rem;
        top: 80.3rem;

        font-size: 3rem;
        line-height: 3.7rem;
        @include bgFormatSm;

        color: $color-primary;
    }

    @include respond(tab-port) {
        position: absolute;
        width: 77.6rem;
        height: 12.6rem;
        left: -26.6rem;
        top: 113rem;

        font-size: 4rem;
        line-height: 4.9px;

        @include bgFormatSm;

        color: $color-primary;
    }

    @include respond(tab-land) {
        position: absolute;
        width: 80.5rem;
        height: 3.8rem;
        left: 4.2rem;
        top: 91.3rem;


        font-size: 3rem;
        line-height: 3.8rem;

        @include bgFormatSm;

        color: $color-primary;

        transform: rotate(-90deg);
    }

    @include respond(HD-screen) {
        position: absolute;
        width: 73.1rem;
        height: 3.5rem;
        left: 0px;
        top: 46.2rem;

        font-size: 3rem;
        line-height: 3.5rem;

        @include bgFormatSm;

        color: $color-primary;

        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
    }

    @include respond(fourK-screen) {
        position: absolute;
        width: 123.4rem;
        height: 19.2rem;
        left: 9.6rem;
        top: 82rem;

        font-size: 7.5rem;
        line-height: 9.1rem;

        @include bgFormatSm;

        color: $color-primary;

        transform: rotate(0deg);
    }     
        */ }

.copyrights {
  position: absolute;
  width: 34rem;
  height: 3rem;
  left: 1.2rem;
  top: 76.15rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #6D7F8E; }

.highlight-2,
.highlight {
  color: #ffff; }

.txt-jumbo {
  position: absolute;
  width: 886px;
  height: 158px;
  left: 181px;
  top: 272px;
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 200px;
  line-height: 128.9%;
  /* or 258px */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff; }
