.copyrights {
    position: absolute;
    width: 34rem;
    height: 3rem;
    left: 12.2rem;
    top: 104.15rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3rem;
    color: $color-primary;
}