.copyrights {
    position: absolute;
    width: 34rem;
    height: 3rem;
    left: 12.2rem;
    top: 104.15rem;

    @include copyRightTxt;

    color: $color-primary;

    @include respond(phone) {}

    @include respond(tab-port) {}

    @include respond(tab-land) {}

    @include respond(HD-screen) {}

    @include respond(fourK-screen) {}
}