.txt-jumbo {

    position: absolute;
    width: 886px;
    height: 158px;
    left: 181px;
    top: 272px;

    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 200px;
    line-height: 128.9%;
    /* or 258px */

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: #ffffff;

    @include respond(phone) {}

    @include respond(tab-port) {}

    @include respond(tab-land) {}

    @include respond(HD-screen) {}

    @include respond(fourK-screen) {}
}