.txt-jumbo {
  position: absolute;
  width: 886px;
  height: 158px;
  left: 181px;
  top: 272px;

  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  font-size: 200px;
  line-height: 128.9%;
  /* or 258px */

  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  color: #ffffff;
}

.txt-bg {
  position: absolute;
  width: 77.6rem;
  height: 35.5rem;
  left: 40.4rem;
  top: 11.3rem;

  @include txt-bg;

  letter-spacing: 0.04em;

  color: $color-primary;
}

h2 {
  position: absolute;
  width: 73.1rem;
  height: 3.5rem;
  left: 0px;
  top: 46.2rem;

  @include txt-sm;

  display: flex;
  align-items: center;
  text-decoration-line: underline;

  color: $color-primary;

  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.copyrights {
  position: absolute;
  width: 34rem;
  height: 3rem;
  left: 12.2rem;
  top: 104.15rem;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3rem;
  color: $color-primary;
}

.highlight-2,
.highlight {
  color: $color-white;
}
