.btn-primary {
    position: absolute;
    left: 40.4rem;
    top: 91.6rem;
    background: $color-primary;
    color: $color-white;
    border-radius: 2.2rem;

    @include txt-mid;

    @include btn-bg-box;

    @include respond(phone) {}

    @include respond(tab-port) {}

    @include respond(tab-land) {}

    @include respond(HD-screen) {}

    @include respond(fourK-screen) {}
}