label {
    display: none;
}

input {

    @include input-bg;
    border: none;
    border-bottom: 5px solid $color-white;
    background-color: transparent;
    @include txt-mid;

    color: $color-primary;

    &:focus {
        outline: none;
        color: $color-white;
        background-color: transparent;
        border-bottom: 5px solid $valid;

    }

    &:focus:invalid {
        border-bottom: 5px solid $invalid;
    }

    @include respond(phone) {}

    @include respond(tab-port) {}

    @include respond(tab-land) {}

    @include respond(HD-screen) {}

    @include respond(fourK-screen) {}
}